.checkstyle
.classpath
.project
.settings/*
/target
scan.bat
logiweb/nondev/
logiweb/sql_backup/
logiweb/target/*
!logiweb/target/site/
!logiweb/target/jacoco.exec
logiweb/src/main/resources/db.properties
logiweb/src/main/resources/citynames.txt
logiweb/src/main/resources/graph.txt
logiweb/src/main/resources/names.txt
logiweb/src/main/resources/surnames.txt
logiweb/.checkstyle
logiweb/.classpath
logiweb/.project
logiweb/.settings/*
