.main-body{
	top:130px;
 	position: relative;
}

.main-body .form-table td {
	vertical-align: baseline;
}

.main-body .info-table th, .info-table td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px 5px;
	text-align: center;
	min-width: 100px;
}

.footer {
	height:200px;
}