.main-body{
	top:130px;
 	position: relative;
}

.table-edit-button {
	margin-top: 1em;	
	margin-bottom: 1em;
	border-width: 1px;
}

.error {
	color: #FF5000;
}

.main-body .info-table th, .info-table td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 3px 10px;
	text-align: center;
	min-width: 100px;
}

.main-body .info-table {
	width:100%;
}