.navbar{ background:rgb(0, 164, 41);}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover, .navbar-brand:hover{ background: #f4f4f4; color: rgb(0, 164, 41); }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.login-form{
 max-width: 400px;  
}
.login-form .btn-primary{
 background:  rgb(0, 164, 41);
 color: #fff;
 border:0;
}